<!-- Stanley W. Gleason -->

<div class="container">
	<h3>{{title}}</h3>
	<button ng-click="sort()" class="btn btn-success">Sort</button>
	<button ng-click="shuffle()" class="btn btn-success">Shuffle</button>
	<table>
		<tr ng-repeat="row in cards">
			<td ng-repeat="card in row">
				<img ng-src="{{card.photo()}}" alt="Card"/>
			</td>
		</tr>
	</table>
</div>